<div id="main-body-div">
	
	<div id="text-bootstrap">
		Even though Bootstrap is a friend of mine, this page is home-made.
	</div>
	
	<div id="code-title">my_code = </div>
	<div id="div-sub-1">
		<div id="div-skill-logo">
			<a>[</a>
			<div> 
				<div id="logo-bis">
					<i class="far fa-lightbulb fa-6x"></i>
				</div>

				<div id="text-under-logo"> 
					SMART
				</div>
			</div>
			<a>,</a>
			<div>
				<div id="logo-bis">
					<i class="far fa-smile-wink fa-6x"></i>
				</div>

				<div id="text-under-logo"> 
					FRIENDLY 
				</div>
			</div>
			<a>,</a>
			<div>
				<div id="logo-bis">
					<i class="fas fa-cog fa-6x"></i>
				</div>

				<div id="text-under-logo"> 
					EFFICIENT 
				</div>
			</div>
			<a>,</a>
			<div>
				<div id="logo-bis">
					<i class="fas fa-shipping-fast fa-6x"></i>
				</div>

				<div id="text-under-logo"> 
					ON TIME ! 
				</div>
			</div>
			<a>]</a>
		</div>
	</div>
	<div id="div-sub-2">
		<div id="div-photo">
			<div id="div-skills-title"> self.inspect </div>
			<div id="div-photo-true"><%= image_tag("jpm.jpg", style: "width: 100%; height:100%; border-radius: 8px;" )%></div>

			<div id="div-photo-text">
				Who is this young man ?! ❤
			</div>
			<div id="div-photo-text">
				<a href="https://github.com/jpmagido"><i class="fab fa-github fa-2x"></i></a>
				<a href="https://twitter.com/Jpmagido"><i class="fab fa-twitter-square fa-2x"></i></a>
				<a href="https://join.slack.com/t/humantalentgroupe/shared_invite/enQtNjcxNDQ4OTk3MzEzLWQ3Y2Y0MmJkMjBlYzc4NmNiMzNkYTU2N2Q0M2JjNTc1YWYyNjI2MmVmN2I5NTM4Y2Q2ZjMzNWRjOTIzZjU0ZDE"><i class="fab fa-slack fa-2x"></i></a>
				<a href="https://www.linkedin.com/in/jean-philippe-magido-8873bb97/"><i class="fab fa-linkedin fa-2x"></i></a>
				<a id="mail_to_icon" href="mailto:jpmagido@me.com"><i id="onclique-hover" class="fas fa-envelope-square fa-2x"></i></a>
				<p class="hover-text">jpmagido@me.com</p>
			</div>
		</div>
		<div id="div-skills-bars">
			<div id="div-skills-title"> Skill bars </div>
			<div id="bars-all">
				<div id="bar-large">
					<div id="bar-name"> HTML </div>
					<div id="bar-medium"></div>
					<div id="bar-small-90"></div>
					
				</div>
				<div id="bar-large">
					<div id="bar-name"> CSS </div>
					<div id="bar-medium"></div>
					<div id="bar-small-70"></div>
					
				</div>
				<div id="bar-large">
					<div id="bar-name"> RUBY/Rails </div>
					<div id="bar-medium"></div>
					<div id="bar-small-70"></div>
					
				</div>
				<div id="bar-large">
					<div id="bar-name"> JavaScript </div>
					<div id="bar-medium"></div>
					<div id="bar-small-20"></div>
					
				</div>
				<div id="bar-large">
					<div id="bar-name"> UI Design </div>
					<div id="bar-medium"></div>
					<div id="bar-small-50"></div>
				</div>
			</div>
			<div id="my-resume"><%= link_to 'Download my Resume', 'jpm-resume.pdf', download: 'jpm-resume' %></div>
		</div>
	</div>

	<div id="div-projects">

		<div id="code-title">loop {Projects}</div>
		<div id="all-cards">
			<% @projects.each do |p|%>
				<div id="cadre">
					<div id="card-head">
						<div id="titre-card"><%= p.nature%></div>
					</div>
					<div id="card-img-3">
						<%= image_tag("#{p.name}.png", style: "width: 100%; height:100%; border-radius: 8px;" )%>
					</div>
					<div id="card-description">
						<h5>Project's description: <%= p.name%></h5>
						<div id="card-text"><%= p.description%></div>
						<hr>
						<div id="card-info">
							<small><a>Duration:</a> <%= p.duration%> weeks</small>
							<small><a>Complexity:</a> <%= p.level%> /10</small>
							
						</div>
						<div id="card-info">
							<small><a>Client:</a> <%= p.client%> </small>
							<small><a>Delivery:</a> <%= time(p.livraison)%></small>
						</div>
					</div>
					
					<div id="card-links-1">
						<a href=<%= p.url%>>Website link</a>
						<a href=<%= p.github_url%> >Repo Link</a>
					</div>
				</div>	
			<%end%>
		</div>
	</div>


	<div id="div-activity">
		<div id="div-footer">
			<div id="div-photo-text">
				<a href="https://github.com/jpmagido"><i class="fab fa-github fa-2x"></i></a>
				<a href="https://twitter.com/Jpmagido"><i class="fab fa-twitter-square fa-2x"></i></a>
				<a href="https://join.slack.com/t/humantalentgroupe/shared_invite/enQtNjcxNDQ4OTk3MzEzLWQ3Y2Y0MmJkMjBlYzc4NmNiMzNkYTU2N2Q0M2JjNTc1YWYyNjI2MmVmN2I5NTM4Y2Q2ZjMzNWRjOTIzZjU0ZDE"><i class="fab fa-slack fa-2x"></i></a>
				<a href="https://www.linkedin.com/in/jean-philippe-magido-8873bb97/"><i class="fab fa-linkedin fa-2x"></i></a>
				<a href="mailto:jpmagido@me.com"><i id="onclique-hover2" class="fas fa-envelope-square fa-2x"></i></a>
				<p class="hover-text2">jpmagido@me.com</p>
			</div>
		</div>
	</div>
</div>

<script>
$("#onclique-hover").mouseover(function() {
	$(".hover-text").css("visibility", "visible");
	});

$("#onclique-hover").mouseout(function() {
  $(".hover-text").css("visibility", "hidden");
});
</script>

<script>
$("#onclique-hover2").mouseover(function() {
	$(".hover-text2").css("visibility", "visible");
	});

$("#onclique-hover2").mouseout(function() {
  $(".hover-text2").css("visibility", "hidden");
});
</script>
