<div id="main-body-div">
	
	<div id="text-bootstrap">
		Even if Bootstrap is my friend, this Front-End is home-made.
	</div>
	
	<div id="code-title">My code is </div>
	<div id="div-sub-1">
		<div id="div-skill-logo">
			<div>
				<div id="logo-bis">
					<i class="far fa-lightbulb fa-6x"></i>
				</div>

				<div id="text-under-logo"> 
					SMART
				</div>
			</div>
			
			<div>
				<div id="logo-bis">
					<i class="far fa-smile-wink fa-6x"></i>
				</div>

				<div id="text-under-logo"> 
					FRIENDLY 
				</div>
			</div>

			<div>
				<div id="logo-bis">
					<i class="fas fa-cog fa-6x"></i>
				</div>

				<div id="text-under-logo"> 
					EFFICIENT 
				</div>
			</div>
			
			<div>
				<div id="logo-bis">
					<i class="fas fa-shipping-fast fa-6x"></i>
				</div>

				<div id="text-under-logo"> 
					ON TIME ! 
				</div>
			</div>
		</div>
	</div>

	<div id="div-projects">

		<div id="code-title">Projects</div>

		<p>Projet 1</p>
		<% @projects.each do |p|%>
		<div id="cadre">
			<div id="card-head">
				<div id="titre-card"><%= p.nature%></div>
			
			</div>
			<div id="card-img-3">
				IMG
			</div>
			<div id="card-description">
				<h5>Description du projet: <%= p.name%></h5>
				<div id="card-text"><%= p.description%></div>
				<div id="card-info">
					<small>Durée: <%= p.duration%> mois</small>
					<small>Livraison: <%= p.livraison %></small>
				</div>
			</div>
			
			<div id="card-links-1">
				<a href=<%= p.url%>>Website link</a>
				<a href="#" >Repo Link</a>
			</div>
		</div>

		
			
						
			<%= p.client%>
			<%= p.level%>
			
			
			
		<%end%>
		<p>Projet 2</p>
		<p>Projet 3</p>
	</div>


	<div>
		<h3>Skills</h3>
		<p>Management vs. Specialist</p>
		<p>recruitment</p>
	</div>

	<div>
		<h3>Activity</h3>

		<p>Human Talent</p>
		<p>Computer_talking</p>
	</div>

	<div>
		<h3>Contact</h3>

		<p>mailer</p>
	</div>
</div>
